/* for wph */
.wph,
.hatena-bookmark-button-frame {
	margin: 0 8px 0 0;
}

#___plusone_0 {
	vertical-align: top!important;
}

.googleplusone-button {
	width: 60px;
}

.twitter-share-button.twitter-count-horizontal {
	width: 90px!important;
}
